<ion-tabs>
  <ion-tab-bar slot="bottom" style="max-width: 100vw">
    <ion-tab-button tab="community">
      <ion-img src="{{ communityIcon }}" style="height: 4vh;"></ion-img>
      <ion-label>Community</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="webinars">
      <ion-img src="{{ webinarsIcon }}" style="height: 4vh;"></ion-img>
      <ion-label>Webinars</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-img src="{{ networkIcon }}" style="height: 4vh;"></ion-img>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="health-and-wellness">
      <ion-img src="{{ healthAndWellnessIcon }}" style="height: 4vh;"></ion-img>
      <ion-label>Wellness</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="consultation">
      <ion-img src="{{ consultationIcon }}" style="height: 4vh;"></ion-img>
      <ion-label>Consultation</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>