<ion-tabs>
  <ion-tab-bar slot="bottom" style="max-width: 100vw">
    <ion-tab-button tab="community">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="webinars">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label>Webinars</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="health-and-wellness">
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-label>Health and Wellness</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="consultation">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Consultation</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>